@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Dancing+Script:wght@700&family=Kanit:wght@200;300;500&family=Karla:ital,wght@0,200;0,400;1,300&family=Merriweather+Sans:wght@500&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Oleo+Script:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playball&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;1,100&family=Satisfy&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.app {
  display: flex;
  position: relative;
}


.button {
  background-color: #2499ee;
  padding: 10px;
  color: white;
  width: 90%;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
}

.image1{
  text-align: center;
  margin-top: 20px;
}

.bgcolor5 {
  background-color: #27ce88;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.circle {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #fe316f;
  border-radius: 50%;
}

.circle1 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #fe8969;
  border-radius: 50%;
}

.circle2 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #8c8dff;
  border-radius: 50%;
}

.circle3 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #2499ef;
  border-radius: 50%;
}

.circle4 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #27ce88;
  border-radius: 50%;
}
 

.bgcolor6 {
  background-color: #2499ef;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.bgcolor6:hover{
  background: #0c5d96;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}